.landing {
    display: flex;
    flex-direction: column;
}

.section-holder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 30px 30px 30px;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 25px;
    padding: 80px 80px 80px 0px; 
}

.landing-logo {
    color: green;
    margin-right: 45px;
    margin-top: 45px;
    flex-shrink: 0;
}

.h2-landing {
    font-size: 70px;
}

.h3-landing {
    font-weight: 400;
}

.start-reading {
    margin-top: 10px;
    width: 24vw;
    border-radius: 40px;
    padding: 10px;
    background-color: green;
    color: white;
    margin-top: 40px;
}

@media screen and (max-width: 700px) {
    .start-reading {
        margin-top: 10px;
        width: 40vw;
        border-radius: 40px;
        padding: 10px;
        background-color: green;
        color: white;
    }

    .landing-logo {
        display: none;
    }

    .text {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-left: 25px;
        margin-top: -50px;
    }
    
    .h2-landing {
        font-size: 50px;
    }
    
    .h3-landing {
        font-weight: 400;
    }
}

@media screen and (max-width: 1000px) {
    .landing-logo {
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    .landing-logo {
        color: green;
        margin-right: 45px;
        margin-top: 75px;
        flex-shrink: 0;
    }
}